pandas
pydantic[email]
sqlalchemy>=2.0
asyncpg>=0.29.0
psycopg2-binary>=2.9.9
dagster
dagster-webserver
dagster[dg]
python-dotenv
pathlib
email-validator
pytest
boto3
pytest-asyncio
fakeredis==1.7.0
aiosqlite
kubernetes
virtualenv
graphviz

